.cardHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 53px;
    width: 500px;
    height: 246px;
    background: #FFFFFF;
    border-radius: 30px;
}

.cardHeroContent {
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.hr {
    width: 100%;
    border: 1px solid #C1FD35;
    margin-top: 12px;
    margin-bottom: 12px;
}

@media (max-width: 1024px) {

    .cardHero {
        width: 597px;
        height: 224px;
        padding-right: 31px;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {

    .cardHero {
        width: 90%;
        height: 190px;
    }

    .cardHeroContent {
        padding-top: 1px;
        padding-bottom: 3px;
        padding-left: 20px;
        padding-right: 9px;
    }

    .title {
        font-size: 28px;
    }

    .description {
        font-size: 16px;
    }
}